<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="neo.vn.imbeautiful">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:name="neo.vn.imbeautiful.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="neo.vn.imbeautiful.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.login.ActivityIntroduce"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.charts.Activity_Fluctuations"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.tintuc.ActivityListNews"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.collaborators.ActivityUpdateInfoCTV"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.login.Activity_Webview"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.charts.ActivityReportCTVDetail"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.tintuc.ActivityDetailNews"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.charts.ActivityChartListCTV"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.notify.ActivityNotify"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.commission.ActivityGetRequestPay"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.charts.ActivityReportDefault"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.order.ActivityAddOrder"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.order.ActivityHistoryOrderDetail"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.charts.Activity_Chart_By_Products"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.charts.ActivityChartMenu"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.products.ActivityCart"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.commission.ActivityHhDetail"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.login.ActivityLogin"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.login.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="neo.vn.imbeautiful.activity.login.ActivityRegister"></activity>
        <activity android:name="neo.vn.imbeautiful.activity.login.ActivityConfirmOTP"></activity>
        <activity android:name="neo.vn.imbeautiful.activity.login.Menu_Search.ActivityListCity"></activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.products.ActivityListCategoryProduct"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.products.ActivityProductDetail"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.collaborators.FragmentListCTV"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.collaborators.ActivityCtvDetail"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="neo.vn.imbeautiful.activity.products.ActivityListProduct"
            android:screenOrientation="portrait"></activity>
        <activity android:name="neo.vn.imbeautiful.activity.login.Menu_Search.ActivityDistrict"></activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider337561266956305"
            android:exported="true" />

        <meta-data android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />

        <meta-data android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />
        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity" />

        <meta-data android:name="com.facebook.accountkit.FacebookAppEventsEnabled"
            android:value="false"/>

        <service android:name="neo.vn.imbeautiful.firebase_service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>